<div class="mb-3">
  <label for="{{ field.id_for_label }}" class="block text-sm font-semibold">
    {{ field.label }}
  </label>

  <input
    type="{{ field.field.widget.input_type|default:'text' }}"
    name="{{ field.name }}"
    id="{{ field.id_for_label }}"
    value="{{ field.value|default:'' }}"
    placeholder="{{ field.field.widget.attrs.placeholder|default:field.label }}"
    class="border border-gray-300 rounded px-3 py-2 w-full"
    {% if field.required %}required{% endif %}
  >

  {% if field.help_text %}
    <small class="text-gray-500">{{ field.help_text }}</small>
  {% endif %}
  {% for error in field.errors %}
    <p class="text-red-500 text-sm">{{ error }}</p>
  {% endfor %}
</div>