{% extends "base.html" %}
{% load form_filters %}
{% block content %}

<div class="container mt-4">

    <h3 class="fw-bold mb-4">Edit Product — {{ product.name }}</h3>

    <div class="card shadow-sm">
        <div class="card-body">

            <form method="post" enctype="multipart/form-data" class="row g-4">
                {% csrf_token %}

                {% for field in form %}
                <div class="col-md-6">
                    <label class="form-label">{{ field.label }}</label>
                    {{ field|add_class:"form-control" }}
                </div>
                {% endfor %}

                <div class="col-12">
                    <button class="btn btn-primary w-100">Update Product</button>
                </div>

            </form>

        </div>
    </div>

</div>

{% endblock %}